<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_rpx(user_session_url) %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render  partial: 'layouts/header' %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<h1> <%= yield :title  %> </h1>
      
<%= yield %>

</body>
</html>
